@model List<MarkIt.Data.Entities.Workout>
@{
    ViewBag.Title = "Home Page";
}
<style>
    .workoutExercise
    {
        padding:20px;
        border:1px solid rgb(128, 128, 128);
    }
    .workoutExerciseTitle 
    {
        font-weight: bold;
    }
    .workoutExerciseSet
    {
        font-size:.9em;
    }
</style>
<div id="workout-list">
    @foreach (var workout in Model)
    {
        <div>Workout Date: @workout.StartDateTime</div>
        foreach(var workoutExercise in workout.Exercises)
        {
            <div class="workoutExercise">
                <div class="workoutExerciseTitle col-md-2">@workoutExercise.Exercise.Title</div>
                @foreach(var set in workoutExercise.Sets)
                { 
                    <div class="workoutExerciseSet col-md-2">Weight: @set.Weight @set.WeightType - Reps: @set.Reps</div>
                }
            </div>
        }
    }
</div>